{% extends "base.html" %}
{% load static wagtailuserbar %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

  #section-counter {
    position: relative;
    z-index: 0; }
    #section-counter:after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      z-index: -1;
      opacity: .9;
      background: #0d1128;
      background: #0d1128;
      background: -moz-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, #0d1128), color-stop(100%, #fd6100));
      background: -webkit-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
      background: -o-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
      background: -ms-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
      background: linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1128', endColorstr='#fd6100', GradientType=1 ); }

      .ftco-counter {
  overflow-x: hidden;
  position: relative; }
  @media (max-width: 1199.98px) {
    .ftco-counter {
      background-position: top center !important; } }
  .ftco-counter .img-video {
    width: 100%;
    display: block; }
    @media (max-width: 767.98px) {
      .ftco-counter .img-video {
        height: 300px; } }
  .ftco-counter .icon span {
    font-size: 50px;
    color: #000000;
    line-height: 1; }
  .ftco-counter .block-18 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
  .ftco-counter .text strong.number {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    display: block; }
  .ftco-counter .text span {
    display: block;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8); }
  @media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
      margin-bottom: 20px; } }



   

  .ftco-animate {
  opacity: 0;
  visibility: hidden; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

  .mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

  
.bs-example{
        margin: 20px;
    }
    .accordion .fa{
        margin-right: 0.5rem;
    }

.btn-link{
    color:black;
}

</style>

{% endblock %}

<!-- <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/IMG_20180427_130235_1.jpg'); height: 250px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div> -->
    <div class="container">
      <div class="row no-gutters slider-text align-items-end"> 
        <div class="col-md-9 ftco-animate pb-5" style="padding-top: 40px; height:50px;">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% slugurl 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Resources<i class="ion-ios-arrow-forward"></i></span></p>
          <!-- <h1 class="mb-0 bread"><b>Resources</b></h1> -->
        </div>
      </div>
    </div>
  <!-- </section>  -->


     
<section class="ftco-section ftco-no-pt ftco-no-pb">
<div class="container">
    <h2 class="font-weight-bold" style="padding-left:30px;">TDSC Resources:</h2>
 <div class="bs-example">
    <div class="accordion" id="accordionExample">
        
            {% for block in page.content %}
                {% include_block block %}
            {% endfor %}
       
    </div>
</div>
</div>
</section>


{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


{% endblock %}

{% endblock %}